body{
    margin: 0;

}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(26, 26, 26, 0.665);
}


.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.logo{
    height: 50px;
    width: auto;
    display: block;
    border-radius: 50px;
}

a{
    display: inline-block;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    color: black;
    background-color: rgb(47, 162, 6);
    transition: all 0.3 ease;
    padding: 12px 24px;
    font-weight: bold;
    border-radius: 50px;
}

a:hover{
    background-color: rgb(3, 59, 3);
    transform: scale(1.05);
}

footer{
    text-align: right;
}