<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{  url_for('static', filename='estilosINICIO.css')}}">
    <title>inicio</title>
</head>
<body>
<header>
<img src="{{ url_for('static', filename='imagen/golden gym img.jpeg')}}" alt="logo">
</header>

<main>

    <section id="entrada" class="entrada">
        <h1>Golden Gym</h1>
        <p>¿Buscas resultados reales? Has llegado al lugar indicado. Regístrate en Golden Gym para desbloquear tu plan de entrenamiento inicial,
             conocer a nuestros coaches y acceder a la plataforma donde gestionas tu progreso. ¡Únete a la comunidad #Goldengym!</p>
        
        <a href="/registro" class="btn">👉 ¡COMIENZA AHORA!</a>
    </section>

    <section id="servicios" class="servicios">
        <h2>Nuestros servicios</h2>
        <ul>
            <li>entrenamientos personalizados</li>
            <li>Clases grupales </li>
            <li>Plan nutricional</li>
        </ul>
    </section>

    <section id="beneficios" class="beneficios">
        <h2>¿Porque elegir Golden GYM?</h2>
        <p>Elegir nuestro gimnasio significa unirte a una comunidad diseñada para que dejes de intentar y empieces a lograr,
             combinando equipamiento de última generación con una guía profesional que personaliza cada paso de tu camino. Aquí no solo vienes a entrenar,
              vienes a transformar tu energía en un ambiente motivador donde cada detalle está pensado para que alcances tus metas de forma segura y constante.
             No busques solo un lugar con máquinas, elige el espacio donde tu disciplina encuentra resultados reales y donde cada sesión te acerca a la mejor versión de ti mismo.</p>
    </section>

    <section id="cta" class="cta">
        <h2>Empieza hoy</h2>
        <p>no esperes mas para cambiar tu vida con Golden Gym</p>
        <a href="/login" class="btn">iniciar sesion</a>

        <br><br>

        <a href="/registro" class="btn">registarse</a>
    </section>

</main>
</body>

</html>