<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{  url_for('static', filename='estilosINICIO.css')}}">
    <title>inicio</title>
</head>
<body>
<div class="presentacion">

<h1>Golden GYM</h1>
<p>Hola bienvenido a Golden gym baq, somos un gimnasio ideal para que puedas encontrar ese fisico que tanto estas buscando,
 a continuacion si ya tienes una cuenta creada puedes iniciar seccion o si no es asi te invitamos a registrarse y ver las opciones que tenemos para ti</p>

 <img src="https://lh3.googleusercontent.com/p/AF1QipNkZia98ANAgtn87ax-xKFJIw-_GuD8GAVIJiam=w243-h244-n-k-no-nu" alt="golden gym">

</div>


<div class="botones">
<h1>Bienvenido elige lo que quieras hacer</h1>

<a href="/login" class="btn">iniciar seccion</a>


<br><br>


<a href="/registro" class="btn">registrarse</a>
</div>

</body>

</html>