<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{  url_for('static', filename='estilosLogin.css')}}">
    <title>mi pequeño flask</title>
</head>
<body>
    <div class="contenedor">
    <h1>iniciar seccion </h1>
    <form method="POST" action="/login">
<label for="usuario">usuario:</label>
<input type="text" name="usuario" required>

<br><br>

<label>contraseña</label>
<input type="password" name="contraseña" required>

<br><br>

<button type="submit">ingresar</button>

    </form>
    </div>
</body>
</html>