<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registro</title>
</head>
<body>
    <div class="contenedor">
    <h1>registrar usuario</h1>
    <form method="POST" action="/registro">

        <label for="usuario_registro">escriba un usuario</label>
        <input type="text" id="usuario_registro" name="usuario" placeholder="usuario" required>

        <br><br>

        <label for="contraseña_registro">escriba una contraseña</label>
        <input type="password" id="contraseña_registro" name="contraseña" placeholder="contraseña" required>

        <br><br>

        <button type="submit">crear usuario</button>
    </form>
    </div>

</body>
</html>